html {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* display: inline-block; */
}

.item:not(:last-child) {
  margin-right: 30px;
}

/* < !--Logo--> */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
  width: 145px;
}

/* .line {
  outline: 2px solid #ececec;
} */

.top .logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.logo-end {
  color: var(--title-text-color);
  text-decoration: none;
}
/* < !--Navigation--> */
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 32px;
  margin-top: 32px;
  margin-right: 331px;
  width: 294px;
}
.nav-list .studio.current,
.nav-list .portfolio.current,
.nav-list .contacts.current {
  color: var(--accent-color);
}

.studio-item,
.portfolio-item {
  margin-right: 50px;
}
.studio,
.portfolio,
.contacts {
  color: var(--primary-text-color);
  text-decoration: none;
  margin-bottom: 32px;
  margin-top: 32px;
}

.email,
.telnumber {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  margin-bottom: 32px;
  margin-top: 32px;
}

.email {
  margin-right: 50px;
  width: 135px;
}

.telnumber {
  width: 122px;
}

.studio:hover,
.portfolio:hover,
.contacts:hover,
.email:hover,
.telnumber:hover {
  color: var(--accent-color);
}

.studio:focus,
.portfolio:focus,
.contacts:focus,
.email:focus,
.telnumber:focus {
  color: var(--accent-color);
}
/* Страница студии */
/* Шапка  */
.section {
  /* width: 1600px; */
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0;
}
.hero {
  background-color: #2f303a;
}

.hero .container {
  padding: 200px 252px;
  text-align: center;
}
h1,
h2,
h3 {
  margin: 0;
}

.title-hero {
  color: #ffffff;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* кнопка заказа услуги */
.order-service {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
}

.order-service:hover {
  background-color: var(--accent-color);
}

/* Особенности */

.features {
  padding-bottom: 0px;
}

.features-title {
  display: none;
}

/* .features-list,
.team-list {
  column-count: 4;
} */

img {
  display: inline-block;
}

.feature-item {
  /* vertical-align: top; */
  width: 270px;
}

.title-feature-item,
.description {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.title-feature-item {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
}

.description {
  line-height: 1.71;
  color: #757575;
}

/* Чем мы занимаемся */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* .examples-list {
  column-count: 3;
} */
.example-item {
  width: 370px;
  /* display: inline-block; */
}

.work,
.project-image {
  height: 294px;
}

/* Наша команда */
.our-team {
  background-color: #f5f4fa;
  letter-spacing: 0.03em;
}

.member-item {
  padding-bottom: 30px;
  width: 270px;
}

.member-name,
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.member-name {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.position {
  color: #757575;
  margin: 0px;
}

/* Футер */

.down {
  height: 252px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #2f303a;
}

.down .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot .logo-end {
  color: #ffffff;
}

.find-us {
  font-style: inherit;
  width: 231px;
}

.map-address {
  color: #ffffff;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
}

.connection-footer-list {
  display: contents;
}
.connection-item {
  margin-top: 9px;
  margin-bottom: 9px;
}

.email-address,
.tel-number {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
}

.tel-number {
  margin-bottom: 0px;
}

.email-address:hover,
.tel-number:hover {
  color: var(--accent-color);
}

.email-address:focus,
.tel-number:focus {
  color: var(--accent-color);
}

/* Страница Портфолио */

.works {
  display: none;
}

.filters.list {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}

.btn-item:not(:last-child) {
  margin-right: 8.12px;
}

.button {
  display: inline-block;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 5px 22.35px;
  border: 0px;
  border-radius: 4px;
  min-width: 74.08px;
}

/* .filter-all { 
  width: 74.08px;
} */

/* .filter-websites {
  width: 129.89px;
} */

/* .filter-apps {
  width: 147.14px;
} */

/* .filter-design {
  width: 104.52px;
} */

/* .filter-marketing {
   width: 131.91px; 
} */

.filters .button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}
.filters .button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.projects-list {
  /* column-count: 3; */
}

.project-item {
  width: 370px;
  padding-bottom: 20px;
}
.project-card {
  text-decoration: none;
}

.project-title,
.project-filter {
  width: 322px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 4px;
}

.project-filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0px;
  margin-bottom: 0px;
}
